{
  "Description": "Simple RSS service.",
  "Resources": {
    "RssFeed": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "RssFeedHandler",
        "Policies": [
          "AmazonDynamoDBFullAccess"
		],
        "Events": {
          "GetResource": {
            "Type": "Api",
            "Properties": {
              "Path": "/",
              "Method": "post"
            }
          }
        }
      }
    }
  }
}
